{% extends 'art/base.html' %}
{% block content %}
	<table style="width:100%">
    	<thead>
        	<tr>
        		<th>First</th>
        		<th>Last</th>
        		<th>Sex</th>
        		<th>Wiki</th>
        	</tr>
        </thead>
        {% for artist in artists %}
        <div class="artist">
        	<tbody>
        		<tr>
        			<td>{{ artist.fn }}</td>
        			<td>{{ artist.ln }}</td>
        			<td>{{ artist.sex }}</td>
        			<td>{{ artist.wiki }}</td>
        			<td>{{ artist.artist_published_ts }}</td>
        		</tr>
        	</tbody>
        </div>
        {% endfor %}
    </table>
    {% endblock %}
