{% load static %}
<html>
    <head>
        <title>PR and Co.</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/pr.css' %}">
    </head>
    <body>
        <div class="page-header">
        	{% if user.is_authenticated %}
        	 	<table style="width:50%" class="top-menu">
        	 		<thead>
        	 			<tr>
        	 				<th><p><a href="/admin">admin</a></p></th>
        	 				<th><p><a href="{% url 'artist_list' %}">artists</a></p></th>
        	 				<th><p><a href="{% url 'art_list' %}">art</a></p></th>
        	 			</tr>
        	 		</thead>
        	 		<tbody>
        	 			<tr>
        	 				<td><a href="" class="top-menu"></a></td>
        	 				<td><a href="{% url 'artist_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></td>
        	 				<td><a href="{% url 'artwork_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></td>
        	 			</tr>
        	 		</tbody>
        	 	</table>
        	 	<p class="top-menu">hi, {{ user.username }}</p>
        	{% endif %}
        	<h1><a href="/">PR and Co.</a></h1><br>
        	</div>
        	<div class="content container">
        		<div class="row">
        			<div class="col-md-8">
        				{% block content %}
        				{% endblock %}
        			</div>
        		</div>
        	</div>
        </body>